<form [formGroup]="form()">
  @for (field of fields(); track field.name) {
    <mat-form-field appearance="outline">
      <mat-label>
        {{ field.appinfo?.label ?? field.name }}
      </mat-label>

      @switch (field.appinfo?.fieldType ?? field.type) {
        @case ("boolean") {
          <div class="boolean-field">
            <mat-checkbox [formControlName]="field.name">
              {{ field.appinfo?.label ?? field.name }}
            </mat-checkbox>

            @if (field.description) {
              <small>{{ field.description }}</small>
            }
          </div>
        }

        @case ("enumeration") {
          <mat-select [formControlName]="field.name">
            @for (option of field.enumeration ?? []; track option.value) {
              <mat-option [value]="option.value">
                {{ option.value }}
              </mat-option>
            }
          </mat-select>
        }

        @case ("textenumeration") {
          <mat-select [formControlName]="field.name">
            @for (option of field.enumeration ?? []; track option.value) {
              <mat-option [value]="option.value">
                {{ option.value }}
              </mat-option>
            }
          </mat-select>
        }

        @default {
          <input matInput [formControlName]="field.name" />
        }
      }

      @if (field.description) {
        <mat-hint>
          {{ field.description }}
        </mat-hint>
      }

      @if (field.use === "required") {
        <mat-error> This field is required </mat-error>
      }
    </mat-form-field>
  }
</form>
