<form [formGroup]="form()">
  @for (field of fields(); track field.name) {
    @if (field.appinfo?.sequence) {
      <div class="sequence-field">
        <div class="sequence-field__header">
          <strong>{{ getFieldLabel(field) }}</strong>

          @if (field.description) {
            <small>{{ field.description }}</small>
          }
        </div>

        <div class="sequence-field__items" [formArrayName]="field.name">
          @for (item of getSequenceControls(field); track $index) {
            <div class="sequence-item" [formGroupName]="$index">
              @if ((field.appinfo?.sequenceTemplateFields?.length ?? 0) > 0) {
                @for (
                  templateField of field.appinfo?.sequenceTemplateFields ?? [];
                  track templateField.name
                ) {
                  @if (isBooleanField(templateField)) {
                    <div class="boolean-field">
                      <mat-checkbox [formControlName]="templateField.name">
                        {{ getFieldLabel(templateField) }}
                      </mat-checkbox>
                    </div>
                  } @else {
                    <mat-form-field appearance="outline">
                      <mat-label>
                        {{ getFieldLabel(templateField) }}
                      </mat-label>

                      @if (isSelectField(templateField)) {
                        <mat-select [formControlName]="templateField.name">
                          @for (
                            option of templateField.appinfo?.enumeration ?? [];
                            track option.value
                          ) {
                            <mat-option [value]="option.value">
                              {{ option.value }}
                            </mat-option>
                          }
                        </mat-select>
                      } @else {
                        <input
                          matInput
                          [formControlName]="templateField.name"
                        />
                      }

                      @if (
                        getFieldErrorMessage(templateField, item);
                        as errorMessage
                      ) {
                        <mat-error>{{ errorMessage }}</mat-error>
                      }
                    </mat-form-field>
                  }
                }
              } @else {
                <mat-form-field appearance="outline">
                  <mat-label>Value</mat-label>
                  <input matInput formControlName="value" />
                </mat-form-field>
              }

              <button
                type="button"
                class="sequence-item__remove"
                [disabled]="!canRemoveSequenceItem(field)"
                (click)="removeSequenceItem(field, $index)"
              >
                Remove
              </button>
            </div>
          }
        </div>

        @if (getSequenceErrorMessage(field); as sequenceError) {
          <p class="sequence-field__error">{{ sequenceError }}</p>
        }

        <button
          type="button"
          class="sequence-field__add"
          [disabled]="!canAddSequenceItem(field)"
          (click)="addSequenceItem(field)"
        >
          Add {{ getFieldLabel(field) }}
        </button>
      </div>
    } @else if (isBooleanField(field)) {
      <div class="boolean-field">
        <mat-checkbox [formControlName]="field.name">
          {{ getFieldLabel(field) }}
        </mat-checkbox>

        @if (field.description) {
          <small>{{ field.description }}</small>
        }
      </div>
    } @else {
      <mat-form-field appearance="outline">
        <mat-label>
          {{ getFieldLabel(field) }}
        </mat-label>

        @if (isSelectField(field)) {
          <mat-select [formControlName]="field.name">
            @for (
              option of field.appinfo?.enumeration ?? [];
              track option.value
            ) {
              <mat-option [value]="option.value">
                {{ option.value }}
              </mat-option>
            }
          </mat-select>
        } @else {
          <input matInput [formControlName]="field.name" />
        }

        @if (field.description) {
          <mat-hint>
            {{ field.description }}
          </mat-hint>
        }

        @if (getFieldErrorMessage(field); as errorMessage) {
          <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-form-field>
    }
  }
</form>
