<form [formGroup]="form()">
  @for (field of fields(); track field.name) {
    @if (field.appinfo?.sequence) {
      <app-dynamic-sequence-field
        [field]="field"
        [array]="getSequenceArray(field)"
      />
    } @else if (getEditorType(field) === "checkbox") {
      <div class="boolean-field">
        <mat-checkbox [formControlName]="field.name">
          {{ getFieldLabel(field) }}
        </mat-checkbox>

        @if (field.description) {
          <small>{{ field.description }}</small>
        }
      </div>
    } @else {
      <mat-form-field appearance="outline">
        <mat-label>
          {{ getFieldLabel(field) }}
        </mat-label>

        @if (getEditorType(field) === "select") {
          <mat-select [formControlName]="field.name">
            @for (
              option of field.appinfo?.enumeration ?? [];
              track option.value
            ) {
              <mat-option [value]="option.value">
                {{ option.value }}
              </mat-option>
            }
          </mat-select>
        } @else {
          <input matInput [formControlName]="field.name" />
        }

        @if (field.description) {
          <mat-hint>
            {{ field.description }}
          </mat-hint>
        }

        @if (getFieldErrorMessage(field); as errorMessage) {
          <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-form-field>
    }
  }
</form>
