form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}

.boolean-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}
